/* App.css */
.message-enter {
    opacity: 0;
  }
  
  .message-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .message-exit {
    opacity: 1;
  }
  
  .message-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  